span.xml-tag {color: #888;}
span.xml-attribute {color: #888;}
span.xml-attname {color: #888;}
span.xml-comment {color: #888;}
span.xml-cdata {color: #888;}
span.xml-processing {color: #888;}
span.xml-entity {color: #a22;}
